In [84]:
import pandas as pd
import os
import subprocess

In [85]:
subprocess.check_output('ls')

b'3d_visualization.ipynb\nprogramming_languages.csv\ntimes.py\n'

In [86]:
df= pd.read_csv('/home/benson/Dropbox/Code/Projects/Mat259_3D/raw_data/programming_languages.csv')

In [87]:
len(list(df['itemNumber'].unique()))

1116

In [88]:
df.head(10)

   itemNumber            title                 cout                  cin
0       24804  C in a nutshell  2005-11-19 17:23:00  2006-01-31 15:25:00
1       24804  C in a nutshell  2006-05-01 17:36:00  2006-05-06 12:51:00
2       24980  C in a nutshell  2006-01-06 13:04:00  2006-01-27 11:49:00
3       24980  C in a nutshell  2006-01-06 13:04:00  2006-01-30 18:46:00
4       24980  C in a nutshell  2006-01-06 13:04:00  2006-02-01 16:43:00
5       24980  C in a nutshell  2006-01-06 13:04:00  2006-02-09 21:49:00
6       24980  C in a nutshell  2006-01-06 13:04:00  2006-02-10 10:06:00
7       24980  C in a nutshell  2006-04-22 13:37:00  2006-06-24 17:11:00
8       24980  C in a nutshell  2006-04-22 13:37:00  2006-06-28 17:05:00
9       24980  C in a nutshell  2006-04-22 13:37:00  2006-06-29 12:41:00

In [89]:
df['cin']=df['cin'].shift(1)

In [90]:
df.head()

   itemNumber            title                 cout                  cin
0       24804  C in a nutshell  2005-11-19 17:23:00                  NaN
1       24804  C in a nutshell  2006-05-01 17:36:00  2006-01-31 15:25:00
2       24980  C in a nutshell  2006-01-06 13:04:00  2006-05-06 12:51:00
3       24980  C in a nutshell  2006-01-06 13:04:00  2006-01-27 11:49:00
4       24980  C in a nutshell  2006-01-06 13:04:00  2006-01-30 18:46:00

In [91]:
return_group=df.groupby('itemNumber').apply(lambda group: group.iloc[1:])

In [92]:
df.head()

   itemNumber            title                 cout                  cin
0       24804  C in a nutshell  2005-11-19 17:23:00                  NaN
1       24804  C in a nutshell  2006-05-01 17:36:00  2006-01-31 15:25:00
2       24980  C in a nutshell  2006-01-06 13:04:00  2006-05-06 12:51:00
3       24980  C in a nutshell  2006-01-06 13:04:00  2006-01-27 11:49:00
4       24980  C in a nutshell  2006-01-06 13:04:00  2006-01-30 18:46:00

In [93]:
return_group.head(10)

               itemNumber            title                 cout  \
itemNumber
24804      1        24804  C in a nutshell  2006-05-01 17:36:00
24980      3        24980  C in a nutshell  2006-01-06 13:04:00
           4        24980  C in a nutshell  2006-01-06 13:04:00
           5        24980  C in a nutshell  2006-01-06 13:04:00
           6        24980  C in a nutshell  2006-01-06 13:04:00
           7        24980  C in a nutshell  2006-04-22 13:37:00
           8        24980  C in a nutshell  2006-04-22 13:37:00
           9        24980  C in a nutshell  2006-04-22 13:37:00
           10       24980  C in a nutshell  2006-06-29 15:39:00
           11       24980  C in a nutshell  2006-06-29 15:39:00

                               cin
itemNumber
24804      1   2006-01-31 15:25:00
24980      3   2006-01-27 11:49:00
           4   2006-01-30 18:46:00
           5   2006-02-01 16:43:00
           6   2006-02-09 21:49:00
           7   2006-02-10 10:06:00
           8   2006-06-24 17:11:00
           9   2006-06-28 17:05:00
           10  2006-06-29 12:41:00
           11  2006-07-03 15:39:00

In [94]:
import datetime

In [95]:
def f(string):
    return datetime.datetime.strptime(string, '%Y-%m-%d %H:%M:%S')

In [96]:
return_group['cout_date']= return_group['cout'].apply(f)
return_group['cin_date']= return_group['cin'].apply(f)

In [97]:
return_group['time_diff_date']= return_group['cout_date']- return_group['cin_date']

In [98]:
return_group.head()

              itemNumber            title                 cout  \
itemNumber
24804      1       24804  C in a nutshell  2006-05-01 17:36:00
24980      3       24980  C in a nutshell  2006-01-06 13:04:00
           4       24980  C in a nutshell  2006-01-06 13:04:00
           5       24980  C in a nutshell  2006-01-06 13:04:00
           6       24980  C in a nutshell  2006-01-06 13:04:00

                              cin           cout_date            cin_date  \
itemNumber
24804      1  2006-01-31 15:25:00 2006-05-01 17:36:00 2006-01-31 15:25:00
24980      3  2006-01-27 11:49:00 2006-01-06 13:04:00 2006-01-27 11:49:00
           4  2006-01-30 18:46:00 2006-01-06 13:04:00 2006-01-30 18:46:00
           5  2006-02-01 16:43:00 2006-01-06 13:04:00 2006-02-01 16:43:00
           6  2006-02-09 21:49:00 2006-01-06 13:04:00 2006-02-09 21:49:00

                 time_diff_date
itemNumber
24804      1   90 days 02:11:00
24980      3 -21 days +01:15:00
           4 -25 days +18:18:00
           5 -27 days +20:21:00
           6 -35 days +15:15:00

In [99]:
return_group['time_diff']= return_group['time_diff_date'].apply(lambda date: date.days)

In [100]:
diff_df=return_group[return_group.time_diff > 0]

In [101]:
def frac_over(series):
    over_sum =0
    for s in series:
        if s>90:
            over_sum += 1
    total = len(series)
    return over_sum/total

In [102]:
frac_over(diff_df.time_diff)

0.12115490520022028

In [103]:
diff_df= diff_df[diff_df.time_diff < 90]

In [104]:
def base_diff(string):
    start= datetime.datetime(2006,1,1,0,0)
    end = datetime.datetime.strptime(string, '%Y-%m-%d %H:%M:%S')
    diff=end-start
    return diff.days

In [105]:
diff_df['time']= diff_df['cout'].apply(base_diff)

In [106]:
diff_df.head()

               itemNumber            title                 cout  \
itemNumber
24980      7        24980  C in a nutshell  2006-04-22 13:37:00
           12       24980  C in a nutshell  2006-07-08 17:55:00
           15       24980  C in a nutshell  2006-08-19 12:29:00
           17       24980  C in a nutshell  2006-09-02 17:46:00
           21       24980  C in a nutshell  2006-11-15 18:53:00

                               cin           cout_date            cin_date  \
itemNumber
24980      7   2006-02-10 10:06:00 2006-04-22 13:37:00 2006-02-10 10:06:00
           12  2006-07-07 11:52:00 2006-07-08 17:55:00 2006-07-07 11:52:00
           15  2006-08-14 12:43:00 2006-08-19 12:29:00 2006-08-14 12:43:00
           17  2006-09-01 10:38:00 2006-09-02 17:46:00 2006-09-01 10:38:00
           21  2006-11-13 13:16:00 2006-11-15 18:53:00 2006-11-13 13:16:00

                time_diff_date  time_diff  time
itemNumber
24980      7  71 days 03:31:00         71   111
           12  1 days 06:03:00          1   188
           15  4 days 23:46:00          4   230
           17  1 days 07:08:00          1   244
           21  2 days 05:37:00          2   318

In [107]:
diff_df['time'].max()
diff_df['time'].argmax()
diff_df.shape

4381

(3238079, 11559)

(11146, 9)

In [108]:
import numpy as np

In [109]:
indicator_diff = datetime.datetime(2018,2,20,0,0)-datetime.datetime(2006,1,1,0,0)
indicator_diff.days

4433

In [110]:
def times():
    indicator_array=np.zeros(4500)
    for i,time in enumerate(diff_df.time):
        indicator_array[time] += diff_df["time_diff"][i]
    return indicator_array

In [111]:
test_array= times()
test_array.mean()

47.086888888888886

In [112]:
def fill_in():
    a=np.zeros(4500)
    for time in diff_df.time:
        a[time] +=1
    return a

In [113]:
test_ones=fill_in()

In [114]:
test_ones.mean()

2.4768888888888889

In [115]:
return_group.memory_usage(index=True).sum()

1598767

In [116]:
test_array/test_ones

/opt/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:1: RuntimeWarning: invalid value encountered in true_divide
  """Entry point for launching an IPython kernel.

array([ nan,  nan,  nan, ...,  nan,  nan,  nan])

In [117]:
test_array.mean()

47.086888888888886

In [118]:
np.array([1,2,3])/np.array([1,0,0])

/opt/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:1: RuntimeWarning: divide by zero encountered in true_divide
  """Entry point for launching an IPython kernel.

array([  1.,  inf,  inf])

In [119]:
test_final=np.divide(test_array, test_ones, 
                     out=np.zeros_like(test_array), where=(test_ones!=0))

In [120]:
test_final.mean()

15.999445420628753